* {
  margin: 0;
  padding: 0;
}

.main_body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.sub_body {
  /* background-color: red; */
  height: 80vh;
  width: 60%;
  /* background-image: url("./Assets/pexels-pixabay-209831.jpg"); */
  /* background-blend-mode: darken; */
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 5px 10px rgba(128, 128, 128, 0.884);
}
.header {
  background-color: rgb(61, 61, 61);
  height: 7%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  color: rgba(250, 235, 215, 0.619);
}

.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
}

.inputContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: -20px;
  color: black;
}
.inputContainer input {
  border: none;
  outline: none;
 
  border-radius: 30px;
  box-shadow: inset 1px 1px 10px rgb(177, 177, 177);
  padding: 15px 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.877);
}
#locationInput::selection {
  border: none;
  outline: none;
}
#searchBTN {
  background-color: rgb(69, 117, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 8px;
  border-radius: 50%;
  /* box-shadow: 1px 1px 5px gray; */
  width: 48px;
}
.head_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  /* color: rgba(255, 255, 255, 0.827); */
}
.weather_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 5%;
}

#main_temp {
  margin-top: -10px;
  font-size: 60px;
  /* color: rgba(255, 255, 255, 0.827); */
}
.property_div {
  margin: 2px;
  display: flex;
  align-items: center;
  gap: 15px;
  /* color: rgba(255, 255, 255, 0.827); */
}
.property_div img {
  height: 15px;
  /* opacity: 0.5; */
}
.property_div h5 {
  font-size: 20px;
  font-weight: 400;
}

.property_div p {
  margin-top: 7px;
  font-size: 12px;
  display: flex;
}

.map_container {
  display: flex;
  height: 100%;
  border: none;
}
.map_container iframe {
  padding: 7px;
  border-radius: 15px 15px 30px 30px;
  border: none;
}

@media only screen and (max-width: 540px) {
  .sub_body {
    /* background-color: red; */
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }
}
